hr{
    height: 7px;
    background-color: red;
    
}


.icons2{
 display: flex;
    justify-content: right;

}


P{
    font-family: sans-serif;
    color: #7f888f;
    text-align: justify;
    
}
span{
    color: black;
}

.wrapper
{
    margin: 0 auto;
    margin-left: 10%;
    margin-right: 10%;
}

.imagen
{
    width: 80%;
}

.contenedor-principal
{
    display: grid;
    grid-template-columns: 50% 50%;

}

.contfoot{
    display: grid;
    grid-template-columns: 50% 50%;
   grid-gap: 1em
}

.foot{
    display: grid;
    grid-template-columns: 15% 85% ;
}

.final-i{
    font-size: 4em;
    color: coral
}
