

header{
    
}
p{
    font-family: sans-serif;
    color:  #7f888f;
    
}
.icons{
    display: grid;
  grid-template-columns: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% ;
  grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
}
.header{
    grid-column-start: 1;
    grid-row: 1 
}
div{
  grid-column-start: 18;
  grid-row: 1;
  
}

.face{
    grid-column-start: 17.8;
    grid-row: 1 
}

span{
    color: black;
    font: bold;
}